body {
    color: #1e1e2e; 
    color: #181825; 
    color: #313244; 
    color: #45475a; 
    color: #585b70; 
    color: #cdd6f4; 
    color: #f5e0dc; 
    color: #b4befe; 
    color: #f38ba8; 
    color: #fab387; 
    color: #f9e2af; 
    color: #a6e3a1; 
    color: #94e2d5; 
    color: #89b4fa; 
    color: #cba6f7; 
    color: #f2cdcd; 
}